/* Global*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #1B5668;
}

/* Global ends here */
/* Navigation */
nav {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-around;
    text-align: center;
    background-color: #1B5668;
    padding: 15px 30px; 
}

nav .logo {
    font-size: 1.7rem;
    font-family: "Merriweather", serif;
    font-weight: 700;
    color: #FFF;
    cursor: pointer;
}

nav ol {
    display: flex;
    list-style: none;
    margin: auto 0;
}

nav ol li {
    margin: 0 6px;
}

nav ol li a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 5px 10px;
    font-size: .95rem;
}

.button {
    background-color: #5BCCFF;
    padding: 8px 28px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}

.button:hover {
    background-color: #74c9f1;
}

nav ol li:hover a {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: #257790;
}

.search-box {
    display: flex;
    margin: auto 0;
    height: 33px;
    line-height: 33px;
}

.search-box input {
    border: 2px solid #1E3A50;
    border-radius: 10px;
    padding: 5px;
    outline: none;
    height: 100%;
    padding: 0 10px;
    font-size: .95rem;
    font-family: "Poppins", sans-serif;
    width: 278px;
}

.search-box span {
    color: #162b3b;
    font-size: .95rem;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.fa.fa-search {
    margin-left: -33px;
}

.search-box span::after {
    height: 100%;
    width: 0%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

nav .bars {
    position: relative;
    margin: auto;
    display: none;
}

.bars span {
   position: absolute;
   color: #fff;
   font-size: 35px; 
}

input[type="checkbox"]{
    -webkit-appearance: none;
    display: none;
}

@media screen and (max-width: 1200px) {
    nav {
        display: block;
        padding: 0;
    }
    nav .logo {
        display: inline-block;
        padding: 15px 30px;
    }
    .search-box {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    .search-box input {
        width: 90%;
    }
    nav ol {
        display: flex;
        flex-direction: column;
        background-color: #FFF;
        height: 0;
        visibility: hidden;
        transition: 0.3s;
    }
    nav ol li {
        text-align: center;
        transition: 0.3s 0.1s all;
        opacity: 0;
    }
    nav ol li a {
        color: #162b3b;
        font-size: 22px;
        padding: 35px;
        display: block;
        margin-top: 10px;
    }
    nav ol li:hover a {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        background-color: #85c8dc62;
    }
    
    nav ol li:nth-child(1){
        transform: translateX(-150px);
    }
    nav ol li:nth-child(2){
        transform: translateX(-200px);
    }
    nav ol li:nth-child(3){
        transform: translateX(-250px);
    }
    nav ol li:nth-child(4){
        transform: translateX(-300px);
    }
    nav ol li:nth-child(5){
        transform: translateX(-350px);
    }
    nav .bars {
        display: block;
        position: absolute;
        top: 20px;
        right: 80px;
        cursor: pointer;

    }
    nav .bars #times {
        display: none;
    }
    #check:checked ~ nav .bars #times {
        display: block;
    }
    #check:checked ~ nav .bars #bars {
        display: none;
    }

    #check:checked ~ nav ol {
        visibility: visible;
        height: 465px;
    }
    #check:checked ~ nav ol li:nth-child(1),
    #check:checked ~ nav ol li:nth-child(2),
    #check:checked ~ nav ol li:nth-child(3),
    #check:checked ~ nav ol li:nth-child(4),
    #check:checked ~ nav ol li:nth-child(5) {
        transform: translateX(0);
        opacity: 1;
    }
}
/* Navigation ends here */

/*Hero Section*/
/*section {
   height: 30vh; 
}

.container {
    max-width: 60rem;
    padding: 310px 600px;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    margin-top: 50px;
}
*/




/*Hero Section ends here*/